html {
	overflow: hidden;
} 

body {
	font-family: georgia;
	background-color: #E8CCC3;
	height:120vh;
 	overflow: hidden;
 	margin: 0px;
 	font-size: 2.75rem; 
 	text-align: center;
}

 main {
 	height: 100%;
 }

 a {
 	text-decoration: none;
 	color: black;
 	font-size: 3rem
 }

 #overlay {
 	position: fixed;
 	top: 0; 
  	left: 0;
  	width: 100%; 
  	height: 100%; 
  	z-index: 1;
}

#sign {
	position: fixed;
	top:0;
	left:0;
	padding: 20px;
	padding-top: 20px;
	height:20%;
}

#coming-soon {
	position: fixed;
	left: 0px;
	width: 38%;
	top: 34%;
	text-align: center;
	font-size: 4rem;
	padding-left: 15px;
}

#triangle {
	position: fixed;
 	top: 0; 
  	left: 0;
  	bottom: 0;
  	width: 0; 
  	height: 0; 
  	border-top: 0 solid transparent;
  	border-bottom: 120vh solid transparent;
  	border-left: 40vh solid white;
  	z-index: 1;
}

 #bakery {
 	height:40%;
 	margin-left: 25%;
 	margin-top: -4%;
 }

 #contact {
 	position: fixed;
 	bottom: 4px;
 	left: 10%;
 	font-size: 2.5rem;
 	text-align: center;
 	padding: 15px 0 0 75px;
 	margin: 0;
 }

/* iphone x */
@media (min-device-height:812px) {
  #opening {
  	padding-top: 25%!important;
  	padding-left: 25%!important;
  }
 }

 @media (min-device-width:768px) {

  #coming-soon {
  	top:50%;
  	font-size: 2rem;
  	padding-left: 0px;
  	margin-left: -10px;
  }

  #triangle {
  	border-bottom: 190vw solid transparent;
  	border-left: 80vh solid white;
  }

  #sign {
  	height:39%;
  	
  }

  #bakery {
  	height: 60%;
  	margin-left: 41%;
  }

  #contact {
  	z-index: 3;
  	font-size: 16px;
  	left:0;
  	padding:0;
  	padding-left: 35px;
  }

  a{
  	font-size: 18px;
  }

  #opening {
  	
  	padding-top: 0!important;
  	padding-left: 30%!important;

  }

  #opening > p {
  	font-size: 25px!important;
  }

  #weekend{
  	padding-left: 24%!important;
  }
 }

 @media (min-width:1180px) {
 	body {
 	#background-color:red;
 }
 }



